<% layout("layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-8 offset-2">Sign-Up on Wanderlust</h1>

<!-- Username -->
<form action="/signup" method="post" class="needs-validation" novalidate>
    <div class="col-8 offset-2">
             <div class="inp">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>
    </div>

<!-- Email -->
    <div class="col-8 offset-2">
             <div class="inp">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email"  id="email" class="form-control" required>
        </div>
    </div>

<!-- Password -->
    <div class="col-8 offset-2">
             <div class="inp">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" placeholder="Enter password" id="password" class="form-control" required>
        </div>
        <button class="btn btn-success">Sign-Up</button>
    </div>
</form>
</div>
